.contenedorFooter {
    display: flex;
    justify-content: space-around; /* Logo y enlaces separados */
    align-items: center;
    background-color: #1259f0; /* Mismo color que el navbar */
    padding: 10px 20px;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 70px;
    position: relative; /* Asegura que el footer esté en el flujo del documento */
    margin-top: auto; /* Empuja el footer al final del contenedor padre */
}

.footer-logo {
    display: flex;
    align-items: center;
}

.textoFooter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 10px 10px;
}


  